// change banner background here
section.container-fluid.banner#banner(style="background-image:" + backgroundBanner)
	.banner-content
		.banner-detail.container
			// change your wedding theme name here
			h1.banner-title Galih &amp; Ratna
			// change wedding date and time here
			p.banner-date-time August, 03 2017 - 08:00 AM
			// change short message about your wedding here
			p.banner-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. LOLUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
