// change cta background here
section#call-to-action(style="background-image:" + backgroundBanner)
	.overlay
	.container
		.row
			.col-sm-12.col-md-10.text-left
				// change call to action message here
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaut labore et dolore magna aliqua. ut labore et dolore magna aliqua.
			.col-sm-12.col-md-2.text-right
				a.button(href="#") RSPV NOW
