#carousel-banner.owl-carousel.owl-theme
	// banner carousel item 1
	.carousel-item
		.overlay
		.carousel-header
			.banner-detail
				// change your wedding theme name here
				h1.banner-title Galih &amp; Ratna
				// change wedding date and time here
				p.banner-date-time August, 03 2017 - 08:00 AM
				// change short message about your wedding here
				p.banner-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. LOLUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
		.carousel-image
			img(src="img/background-banner.jpeg", alt="carousel item 1")

	// banner carousel item 2
	.carousel-item
		.overlay
		.carousel-header
			.banner-detail
				// change your wedding theme name here
				h1.banner-title Wedding Ceremony
				// change wedding date and time here
				p.banner-date-time August, 03 2017 - 08:00 AM
				// change short message about your wedding here
				p.banner-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. LOLUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
		.carousel-image
			img(src="img/background-ceremony.jpeg", alt="carousel item 2")

	// banner carousel item 3
	.carousel-item
		.overlay
		.carousel-header
			.banner-detail
				// change your wedding theme name here
				h1.banner-title Wedding Party
				// change wedding date and time here
				p.banner-date-time August, 03 2017 - 08:00 AM
				// change short message about your wedding here
				p.banner-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. LOLUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
		.carousel-image
			img(src="img/background-party.jpeg", alt="carousel item 3")
