// change footer background here
section#ending(style="background-image:" + backgroundBanner)
	.overlay

	+sectionHeading('Thank You', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
	main
		.social-media
			// change facebook link
			a(href="#" title="facebook"): i.fa.fa-facebook.fa-2x(aria-hidden="true")
			// change twitter link
			a(href="#" title="twitter"): i.fa.fa-twitter.fa-2x(aria-hidden="true")
			// change instagram link
			a(href="#" title="instagram"): i.fa.fa-instagram.fa-2x(aria-hidden="true")
			// change youtube link
			a(href="#" title="youtube"): i.fa.fa-youtube.fa-2x(aria-hidden="true")
