// change gift registry background here
section#gift-registry(style="background-image:" + backgroundBanner)
	.overlay
	.container
		.row
			.col-sm-3.col-md-3
				.gift
					// change gift image here
					img(src=giftImage1, alt="gift image")
			.col-sm-3.col-md-3
				.gift
					// change gift image here
					img(src=giftImage2, alt="gift image")
			.col-sm-3.col-md-3
				.gift
					// change gift image here
					img(src=giftImage3, alt="gift image")
			.col-sm-3.col-md-3
				.gift
					// change gift image here
					img(src=giftImage4, alt="gift image")
