nav.navbar.navbar-fixed-top#navbar
	.container
		.navbar-header
			button(type="button",
			data-toggle="collapse",
			data-target="#myNavbar").navbar-toggle
				span.icon-bar
				span.icon-bar
				span.icon-bar
			// change: the logo or homepage name 
			a.navbar-brand(href='#banner').jump Shafira
		.collapse.navbar-collapse#myNavbar
			ul.nav.navbar-nav.navbar-right
				li.dropdown
					a.dropdown-toggle(data-toggle='dropdown' href='#') Home
						span.caret
					ul.dropdown-menu
						li: a(href="homepage-standart.html") Homepage - Standard
						li: a(href="homepage-carousel.html") Homepage - Carousel
						li: a(href="homepage-video.html") Homepage - Video
				li.dropdown
					a.dropdown-toggle(data-toggle='dropdown' href='#') About
						span.caret
					ul.dropdown-menu
						li: a(href='#wedding-detail').jump Wedding Detail
						li: a(href='#wedding-profile').jump About Us
						li: a(href='#groom').jump Groom
						li: a(href='#bride').jump Bride
						li: a(href='#wedding-family').jump Family
				li.dropdown
					a.dropdown-toggle(data-toggle='dropdown' href='#events') Events
						span.caret
					ul.dropdown-menu
						li: a(href='#wedding-ceremony').jump Ceremony
						li: a(href='#wedding-reception').jump Reception
						li: a(href='#wedding-party').jump Party
				li: a(href='#gift-registry').jump Gift Registry
				li: a(href='#wedding-rspv').jump Reservation
