section#wedding-events
	.container
		.row
			.col-md-12
				.event.reception#wedding-reception
					header.event-detail
						// change event title here
						h3.event-title Reception
						// change event date and time here
						p.event-date-time 09:30 AM - 10:00 AM
						// change event location here
						p.event-location Jalan Sumatera No.1 Bandung
						// change event phone number here
						p.event-phone (022) - 2545 4478
						a.button(href="#") Read more
					aside.event-photo
						// change event photo here
						img(src=receptionPhoto, alt="reception photo")
			.col-md-12
				.event.ceremony#wedding-ceremony
					header.event-detail
						// change event title here
						h3.event-title Ceremony
						// change event date and time here
						p.event-date-time 09:30 AM - 10:00 AM
						// change event location here
						p.event-location Jalan Sumatera No.1 Bandung
						// hcange event photne number here
						p.event-phone (022) - 2545 4478
						a.button(href="#") Read more
					aside.event-photo
						// change event photo here
						img(src=ceremonyPhoto, alt="ceremony photo")
			.col-md-12
				.event.party#wedding-party
					header.event-detail
						// change event title here
						h3.event-title Party
						// change event date and time here
						p.event-date-time 09:30 AM - 10:00 AM
						// change event location here
						p.event-location Jalan Sumatera No.1 Bandung
						// change event photo number here
						p.event-phone (022) - 2545 4478
						a.button(href="#") Read more
					aside.event-photo
						// change event photo here
						img(src=partyPhoto, alt="party photo")
