mixin bannerHeading(title="Galih & Ratna", dateTime="August, 03 2017 - 08:00 AM", desc="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.")
	header.banner-header
		h1.title #{title}
		p.date-time #{dateTime}
		p.desc #{desc}
